* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(20, 25px);
    grid-template-rows: repeat(20, 25px);
    gap: 0px;
    border: 2px solid #5c5c5c;
    border-radius: 5px;
  }
  
  .game-ui {
    margin-top: 20px;
    color: #fff;
  }
  
  #score, #lives {
    font-size: 1.2rem;
  }
  .wall{
    background-color: white;
    background-image: url("./assets/images/wall.png");
    background-size: cover;
    border-radius: 5px;
  }
  .path{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .pellet {
    width: 5px; 
    height: 5px; 
    background: url('./assets/images/coin.gif') no-repeat;
    background-size: cover;
  }
  .powerpellet{
    width: 15px;
    height: 15px; 
    background: url('./assets/images/coin.gif') no-repeat;
    background-size: cover;
  }
  .pacman{
    width: 25px;
    height: 25px;
    background: url('./assets/images/pacman/pacman.gif') no-repeat;
    background-size: cover;
    transition: transform 0.2s linear;
    position: absolute;
    transform: translate(180px, 280px);
  }

