* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(20, 25px);
    grid-template-rows: repeat(20, 25px);
    gap: 0px;
    border: 2px solid #5c5c5c;
    border-radius: 5px;
  }
  
  .game-ui {
    margin-top: 20px;
    color: #fff;
  }
  
  #score, #lives {
    font-size: 1.2rem;
  }
  .wall{
    background-color: white;
    background-image: url("./assets/images/wall.png");
    background-size: cover;
    border-radius: 5px;
  }
  .path{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
  }

  .pellet {
    width: 10px; /* Width of a single frame */
    height: 10px; /* Height of a single frame */
    background: url('./assets/images/Fw3P.gif') no-repeat;
    background-size: cover;

  }

